html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.background_color {
    background-color: hsl(30, 38%, 92%);
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.card {
    display: grid;
    width: 691px;
    height: 550px;
    grid-template-columns: 1fr 195px 130px;
    grid-template-rows: 70px 145px 130px 80px 1fr;
    grid-template-areas:
        "img logo ."
        "img title title"
        "img descri descri"
        "img price old_price"
        "img cart cart";
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    color: hsl(228, 12%, 48%);
}

.card_img {
    grid-area: img;
    max-width: 100%;
    height: auto;
    border-radius: 10px 0 0 10px;
    background-image: url(../images/image-product-desktop.jpg);
    background-size: 100% 100%;
}

.logo {
    font-weight: 500;
    padding-left: 42px;
    padding-top: 30px;
}

.Item_title {
    grid-area: title;
    padding: 0px 42px;
    font-size: 35px;
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
}

.Item_descrition {
    grid-area: descri;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 42px;
    font-size: 14px;
    line-height: 2;
}

.price {
    grid-area: price;
    padding-left: 42px;
    font-size: 35px;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
}

.old_price {
    grid-area: old_price;
    margin: auto;
    margin-top: 35px;
    margin-left: 5px;
    text-decoration: line-through;
}

.add_cart {
    grid-area: cart;

    width: 241px;
    height: 55px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: hsl(158, 36%, 37%);
}