.background_color {
    background-color: hsl(32, 37%, 92%);
    height: 100%;
    width: 100%;
}

.card {
    display: grid;
    border: 2px solid black;
    width: 691px;
    height: 550px;
    grid-template-columns: 1fr 195px 130px;
    grid-template-rows: 70px 145px 130px 80px 1fr;
    grid-template-areas:
        "img logo ."
        "img title title"
        "img descri descri"
        "img price old_price"
        "img cart cart";
    background-color: white;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.card_img {
    grid-area: img;
    max-width: 100%;
    height: auto;
}

.logo {
    font-weight: 500;
    padding-left: 42px;
    padding-top: 30px;
}

.Item_title {
    grid-area: title;
    padding: 0px 42px;
    font-size: 35px;
    font-family: 'Fraunces', serif;
}

.Item_descrition {
    grid-area: descri;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 42px;
    font-size: 14px;
    line-height: 2;
}

.price {
    grid-area: price;
    padding-left: 42px;
    font-size: 35px;
    font-family: 'Fraunces', serif;
}

.old_price {
    grid-area: old_price;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Fraunces', serif;
}

hr {
    border: 2px solid black;
}

.add_cart {
    grid-area: cart;
    border: 2px solid black;
    width: 241px;
    height: 55px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}